@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* :root {

  } */

  .wireframe * {
    outline: 1px solid red !important;
  } 

  .theme-dark {
    --color-logo: orange;

    --bg-color-page: #2a2a32;

    --text-color-primary: white;
    --text-color-secondary: orange;
    --text-color-muted: gray;
    --text-color-error: red;
  }
}

